*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', serif;
	font-size: 18px;
}

img{margin-top: 100px;
	width: 700px;
}

p{
text-align: center;
	text-wrap: wrap;}

.lavanda{
	background-image: url(./stabljika.png);
	background-repeat: no-repeat;
	height: 2900px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 100vw;}

.desne{
	left: 50%;
}

.lijeve{
	width: 40vw;
	margin-top: 10%;
	margin-left: -20%;
}

body{
	background-image: url(./pozadinatamnija.png);
	background-size:contain;
	background-repeat: repeat-y;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	flex-direction: column;
	overflow-x: hidden;
	min-width: 100vw;
}
.container{
	width: 500px;
	padding: 30px;
	border-radius: 10px;
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}
h1{
	font-size: 30px;
	font-family: 'Rubik Beastly', serif;
	font-weight: 1;
}
input{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 100%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: rgb(117, 96, 89);
	color: white;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	background-color: #333333;
}
