*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
	font-size: min(5vw, 35px);
}

.playbutton{
	margin-bottom: 600px;
	margin-top: 50vh;
	width: 30vw;
	height: 5vh;
	border-radius: 20%;
	background-color: transparent;
}

img{
	width:80%;
	max-width: 1000px;
	min-width: 500px;
}

.mutebutton{
	position:fixed;
	bottom: 10px;
	left: 10px;
	height:  33px;
	width:  40px;
	background-image: url("unmute.png");
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
}

.mutebutton:focus{
	background-image: url("mute.png");
}

p{
	padding: 5px;
}

h1{
	font-size: 50px;
	font-weight:100;
	padding-top: 0%;
	white-space: nowrap;
	font-stretch: extra-expanded;
}

.datum{
	font-size:min(7vw, 50px) ;
}


.tekst{
min-width: 500px;
width: 70%;
text-align: center;}

.lavanda{
	background-image: url(./stabljika.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:100% 100%;
	position: relative;
	height: 2900px;
	width: 90%;
max-width: 800px;
min-width: 320px;}

.prva{
	position: absolute;
	top: 4%;
	right: 10%;
	width: 40%;
	text-align: center;
}

.druga{
	position: absolute;
	top: 25%;
	left: 10%;
	width: 40%;
	text-align: right;
	text-align: center;
}

.treca{
	position: absolute;
	top: 37%;
	left: 10%;
	width: 40%;
	text-align: center;
}
.cetvrta{
	position: absolute;
	top: 53%;
	right: 9%;
	width: 50%;
	text-align: center;
}
.peta{
	position: absolute;
	top: 64%;
	right: 9%;
	width: 50%;
	text-align: center;
}

.zadnja{
	padding-top: 15%;
	width: 70%;
	text-align: center;
}

.container{
	width: 100%;
	position: absolute;
	display:flex;
	top: 80%;
	align-self: center;
	flex-direction: column;
	align-items:flex-start;
}

body{
	background-image: url(./pozadinatamnija.png);
	background-size:contain;
	background-repeat: repeat-y;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	flex-direction: column;
	overflow-x: hidden;
	min-width: 100vw;
	font-family: 'Cormorant Garamond', serif;
	font-size: xx-large;
}

input, textarea, label{
	border-width: 0px 0cap 1px 0cap;
	padding: 10px;
	margin-bottom: 20px;
	border-style:outset;
	background-color: transparent;
	border-color: rgb(192, 175, 158);
	color: rgb(49, 42, 36);
	border-radius: 10px;
	font-size: min(3.8vw, 30px);
}


input[type="radio"]{
	
	display: none;
}


label{
	border-width: 3px;
	border-style:outset;
	display: inline;
}

input[type="radio"]:checked + label{
	border-width: 3px;
	border-style:inset;
	background-color:rgb(196, 187, 177);
}


.rows{
	width: 100%;
padding-bottom: 5%;}




textarea{
	border-width:1px;
	width: 100%;
	border-style:ridge;
}

#submit{
	border: 3px;
	border-style:outset;
	border-color: rgb(39, 30, 19);
	background-color: transparent;
	color: rgb(0, 0, 0);
	width: 200px;
	margin-top: 10px;
	border-radius: 10px;
}

#submit:hover{
	background-color: #333333;
}


.kartadruga{
	position: absolute;
	min-width: 0;
	width: 40px;
	height:40px;

	top: 50%;
	left: 110%;
	text-align: right;
	text-align: center;
}

.kartatreca{
	min-width: 0;
	width: 40px;
	height:40px;
	position: absolute;
	top: 50%;
	left: 110%;
	text-align: center;
}
.kartacetvrta{
	min-width: 0;
	width: 40px;
	height:40px;
	position: absolute;
	top: 50%;
	right: 110%;
	text-align: center;
}
.kartapeta{
	min-width: 0;
	width: 40px;
	height:40px;
	position: absolute;
	top: 50%;
	right: 110%;
	text-align: center;
}
