*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
	font-size: xx-large;
}

img{margin-top: 100px;
	max-width: 1000px;
	width: 80%;
}

.tekst{
width: 70%;
text-align: center;}

.lavanda{
	background-image: url(./stabljika.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 2900px;
	width: 80%;}

.prva{
	position: absolute;
	top: 4%;
	right: 10%;
	width: 40%;
	text-align: center;
}

.druga{
	position: absolute;
	top: 25%;
	left: 10%;
	width: 40%;
	text-align: right;
	text-align: center;
}

.treca{
	position: absolute;
	top: 38%;
	left: 10%;
	width: 40%;
	text-align: right;
}
.cetvrta{
	position: absolute;
	top: 55%;
	right: 10%;
	width: 40%;
	text-align: center;
}
.peta{
	position: absolute;
	top: 66%;
	right: 10%;
	width: 40%;
	text-align: center;
}

.zadnja{
	padding-top: 15%;
	width: 70%;
	text-align: center;
}

.container{
	width: 60%;
	position: absolute;
	display:flex;
	top: 75%;
	left: 10%;
	flex-direction: column;
	align-items:flex-start;
}

body{
	background-image: url(./pozadinatamnija.png);
	background-size:contain;
	background-repeat: repeat-y;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	flex-direction: column;
	overflow-x: hidden;
	min-width: 100vw;
	font-family: 'Cormorant Garamond', serif;
	font-size: xx-large;
}

h1{
	font-size: 50px;
	font-weight:100;
	padding-bottom: 10%;
	white-space: nowrap;
	font-stretch: extra-expanded;
}




input, textarea, .button{
	border-width: 0px 0cap 1px 0cap;
	padding: 10px;
	margin-bottom: 20px;
	border-style:outset;
	background-color: transparent;
	border-color: rgb(192, 175, 158);
	color: rgb(49, 42, 36);
	border-radius: 10px;
	font-size: xx-large;
}

.rows{
	width: 100%;
padding-bottom: 5%;}

.button{
	border-width: 3px;
	border-style:outset;
	display: inline;
}

.button:focus{
	border-width: 3px;
	border-style:inset;
	display: inline;
}

textarea{
	border-width:1px;
	width: 100%;
	border-style:ridge;
}

#submit{
	border: 3px;
	border-style:outset;
	border-color: rgb(39, 30, 19);
	background-color: transparent;
	color: rgb(0, 0, 0);
	width: 200px;
	margin-top: 10px;
	border-radius: 10px;
}
#submit:hover{
	background-color: #333333;
}
